In [21]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [22]:
# Read in the two voter_hist.csvs 
voter_hist_df1 = pd.read_csv("voter_hist1.csv")
voter_hist_df2 = pd.read_csv("voter_hist2.csv")

C:\Users\hanna\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (0,2,11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
# Combine voter_hist csvs into one
voter_hist_large = voter_hist_df1.append(voter_hist_df2, ignore_index=True)
voter_hist_large

,county_id,county_desc,voter_reg_num,election_lbl,election_desc,voting_method,voted_party_cd,voted_party_desc,pct_label,pct_description,ncid,voted_county_id,voted_county_desc,vtd_label,vtd_description\r
0,11,BUNCOMBE,351521,11/03/2020,11/03/2020 GENERAL,ABSENTEE ONESTOP,REP,REPUBLICAN,29.2,29.2,AA103340,11,BUNCOMBE,102.1,102.1\r
1,11,BUNCOMBE,351521,11/04/2014,11/04/2014 GENERAL,ABSENTEE ONESTOP,REP,REPUBLICAN,39.3,39.3,AA103340,11,BUNCOMBE,39.1,39.1\r
2,11,BUNCOMBE,351521,11/06/2012,11/06/2012 GENERAL,ABSENTEE ONESTOP,REP,REPUBLICAN,39.3,39.3,AA103340,11,BUNCOMBE,39.1,39.1\r
3,11,BUNCOMBE,309287,11/06/2012,11/06/2012 GENERAL,ABSENTEE ONESTOP,UNA,UNAFFILIATED,11.1,11.1,AA104672,11,BUNCOMBE,11.1,11.1\r
4,11,BUNCOMBE,309287,05/08/2012,05/08/2012 PRIMARY,IN-PERSON,DEM,DEMOCRATIC,11.1,11.1,AA104672,11,BUNCOMBE,11.1,11.1\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1072109,11,BUNCOMBE,411542,11/06/2012,11/06/2012 GENERAL,ABSENTEE ONESTOP,UNA,UNAFFILIATED,06 JAC,JACKS CREEK,ES9678,100,YANCEY,06-JAC,06 JAC\r
1072110,11,BUNCOMBE,411542,05/08/2012,05/08/2012 PRIMARY,IN-PERSON,REP,REPUBLICAN,06 JAC,JACKS CREEK,ES9678,100,YANCEY,06-JAC,06 JAC\r
1072111,11,BUNCOMBE,411542,11/08/2016,11/08/2016 GENERAL,IN-PERSON,UNA,UNAFFILIATED,64.1,64.1,ES9678,11,BUNCOMBE,64.1,64.1\r
1072112,11,BUNCOMBE,411542,11/06/2018,11/06/2018 GENERAL,IN-PERSON,UNA,UNAFFILIATED,46.1,46.1,ES9678,11,BUNCOMBE,46.1,46.1\r
1072113,11,BUNCOMBE,411542,11/03/2020,11/03/2020 GENERAL,ABSENTEE ONESTOP,UNA,UNAFFILIATED,46.1,46.1,ES9678,11,BUNCOMBE,46.1,46.1\r

In [24]:
# Create subset dataframe that adheres to Heroku's 10,000 row max
voter_hist = voter_hist_large.iloc[:10000]
voter_hist

,county_id,county_desc,voter_reg_num,election_lbl,election_desc,voting_method,voted_party_cd,voted_party_desc,pct_label,pct_description,ncid,voted_county_id,voted_county_desc,vtd_label,vtd_description\r
0,11,BUNCOMBE,351521,11/03/2020,11/03/2020 GENERAL,ABSENTEE ONESTOP,REP,REPUBLICAN,29.2,29.2,AA103340,11,BUNCOMBE,102.1,102.1\r
1,11,BUNCOMBE,351521,11/04/2014,11/04/2014 GENERAL,ABSENTEE ONESTOP,REP,REPUBLICAN,39.3,39.3,AA103340,11,BUNCOMBE,39.1,39.1\r
2,11,BUNCOMBE,351521,11/06/2012,11/06/2012 GENERAL,ABSENTEE ONESTOP,REP,REPUBLICAN,39.3,39.3,AA103340,11,BUNCOMBE,39.1,39.1\r
3,11,BUNCOMBE,309287,11/06/2012,11/06/2012 GENERAL,ABSENTEE ONESTOP,UNA,UNAFFILIATED,11.1,11.1,AA104672,11,BUNCOMBE,11.1,11.1\r
4,11,BUNCOMBE,309287,05/08/2012,05/08/2012 PRIMARY,IN-PERSON,DEM,DEMOCRATIC,11.1,11.1,AA104672,11,BUNCOMBE,11.1,11.1\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,11,BUNCOMBE,188627,11/03/2020,11/03/2020 GENERAL,ABSENTEE BY MAIL,REP,REPUBLICAN,38.2,38.2,AL102345,11,BUNCOMBE,38.2,38.2\r
9996,11,BUNCOMBE,188628,11/03/2020,11/03/2020 GENERAL,ABSENTEE CURBSIDE,REP,REPUBLICAN,38.2,38.2,AL102346,11,BUNCOMBE,38.2,38.2\r
9997,11,BUNCOMBE,188628,11/04/2014,11/04/2014 GENERAL,ABSENTEE BY MAIL,REP,REPUBLICAN,38.2,38.2,AL102346,11,BUNCOMBE,38.2,38.2\r
9998,11,BUNCOMBE,188628,11/06/2018,11/06/2018 GENERAL,ABSENTEE CURBSIDE,REP,REPUBLICAN,38.2,38.2,AL102346,11,BUNCOMBE,38.2,38.2\r
9999,11,BUNCOMBE,188628,11/06/2012,11/06/2012 GENERAL,ABSENTEE BY MAIL,REP,REPUBLICAN,38.2,38.2,AL102346,11,BUNCOMBE,38.2,38.2\r

In [25]:
# Read in two voter_reg.csvs
voter_reg_df1 = pd.read_csv("voter_reg1.csv")
voter_reg_df2 = pd.read_csv("voter_reg2.csv")

C:\Users\hanna\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (0,2,16,24,29,33,34,37,38,39,40,41,42,43,46,47,50,51,54,55,56,57,58,59,62,67,69) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
# Combine two voter_reg csvs into one
voter_reg_large = voter_reg_df1.append(voter_reg_df2, ignore_index=True)
voter_reg_large.head()

,county_id,county_desc,voter_reg_num,status_cd,voter_status_desc,reason_cd,voter_status_reason_desc,absent_ind,name_prefx_cd,last_name,...,munic_dist_desc,dist_1_abbrv,dist_1_desc,dist_2_abbrv,dist_2_desc,confidential_ind,birth_year,ncid,vtd_abbrv,vtd_desc\r
0,11,BUNCOMBE,378389,A,ACTIVE,AV,VERIFIED,,,A-AKERT,...,NaN,40,40TH PROSECUTORIAL,,,N,1956,AL270949,52.1,52.1\r
1,11,BUNCOMBE,381829,A,ACTIVE,AV,VERIFIED,,,A-AKERT,...,NaN,40,40TH PROSECUTORIAL,,,N,1952,AL273503,52.1,52.1\r
2,11,BUNCOMBE,425478,A,ACTIVE,AV,VERIFIED,,,AAB,...,NaN,40,40TH PROSECUTORIAL,,,N,1974,CW939539,68.1,68.1\r
3,11,BUNCOMBE,425477,A,ACTIVE,AV,VERIFIED,,,AAB,...,NaN,40,40TH PROSECUTORIAL,,,N,1981,CW988432,68.1,68.1\r
4,11,BUNCOMBE,429468,A,ACTIVE,AV,VERIFIED,,,AABYE,...,NaN,40,40TH PROSECUTORIAL,,,N,1981,DM19859,60.2,60.2\r

In [27]:
# Drop unnecessary columns
voter_reg_large.drop(['dist_2_desc', 'dist_1_desc', 'munic_dist_desc', 'rescue_dist_desc', 'sanit_dist_desc', 'sewer_dist_desc',
                  'water_dist_desc', 'fire_dist_desc', 'school_dist_desc', 'township_desc', 'county_commiss_desc', 
                  'ward_desc', 'municipality_desc', 'absent_ind', 'name_prefx_cd', 'dist_2_abbrv'], axis=1, inplace=True)
voter_reg_large

,county_id,county_desc,voter_reg_num,status_cd,voter_status_desc,reason_cd,voter_status_reason_desc,last_name,first_name,middle_name,...,sewer_dist_abbrv,sanit_dist_abbrv,rescue_dist_abbrv,munic_dist_abbrv,dist_1_abbrv,confidential_ind,birth_year,ncid,vtd_abbrv,vtd_desc\r
0,11,BUNCOMBE,378389,A,ACTIVE,AV,VERIFIED,A-AKERT,DIANE,FAE,...,NaN,NaN,NaN,NaN,40,N,1956,AL270949,52.1,52.1\r
1,11,BUNCOMBE,381829,A,ACTIVE,AV,VERIFIED,A-AKERT,WALTER,DEAN,...,NaN,NaN,NaN,NaN,40,N,1952,AL273503,52.1,52.1\r
2,11,BUNCOMBE,425478,A,ACTIVE,AV,VERIFIED,AAB,KERRI,NaN,...,NaN,NaN,NaN,NaN,40,N,1974,CW939539,68.1,68.1\r
3,11,BUNCOMBE,425477,A,ACTIVE,AV,VERIFIED,AAB,RICHARD,EDWARD,...,NaN,NaN,NaN,NaN,40,N,1981,CW988432,68.1,68.1\r
4,11,BUNCOMBE,429468,A,ACTIVE,AV,VERIFIED,AABYE,MEREDITH,MICHELLE,...,NaN,NaN,NaN,NaN,40,N,1981,DM19859,60.2,60.2\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237012,11,BUNCOMBE,316274,A,ACTIVE,AV,VERIFIED,ZYLA,JENNIFER,ANNE,...,NaN,NaN,NaN,NaN,40,N,1977,AL222272,47.1,47.1\r
237013,11,BUNCOMBE,509668,A,ACTIVE,AV,VERIFIED,ZYNA,JASON,MATTHEW,...,NaN,NaN,NaN,ASH,40,N,1976,AL362059,15.1,15.1\r
237014,11,BUNCOMBE,462204,A,ACTIVE,AV,VERIFIED,ZYNDA,MALLORY,JO,...,NaN,NaN,NaN,ASH,40,N,1997,AL303682,102.1,102.1\r
237015,11,BUNCOMBE,430663,A,ACTIVE,AV,VERIFIED,ZYNDA,PATRICK,ARTHUR JOSEPH,...,NaN,NaN,NaN,ASH,40,N,1996,AL308726,102.1,102.1\r
237016,11,BUNCOMBE,411679,A,ACTIVE,AV,VERIFIED,ZYRY,RUTH,ANN,...,NaN,NaN,NaN,NaN,40,N,1971,AL295547,39.1,39.1\r

In [28]:
# Get list of columns to facilitate division into additonal dataframes
voter_reg_large.columns

Index(['county_id', 'county_desc', 'voter_reg_num', 'status_cd',
       'voter_status_desc', 'reason_cd', 'voter_status_reason_desc',
       'last_name', 'first_name', 'middle_name', 'name_suffix_lbl',
       'res_street_address', 'res_city_desc', 'state_cd', 'zip_code',
       'mail_addr1', 'mail_addr2', 'mail_addr3', 'mail_addr4', 'mail_city',
       'mail_state', 'mail_zipcode', 'full_phone_number', 'race_code',
       'ethnic_code', 'party_cd', 'gender_code', 'birth_age', 'birth_state',
       'drivers_lic', 'registr_dt', 'precinct_abbrv', 'precinct_desc',
       'municipality_abbrv', 'ward_abbrv', 'cong_dist_abbrv',
       'super_court_abbrv', 'judic_dist_abbrv', 'nc_senate_abbrv',
       'nc_house_abbrv', 'county_commiss_abbrv', 'township_abbrv',
       'school_dist_abbrv', 'fire_dist_abbrv', 'water_dist_abbrv',
       'sewer_dist_abbrv', 'sanit_dist_abbrv', 'rescue_dist_abbrv',
       'munic_dist_abbrv', 'dist_1_abbrv', 'confidential_ind', 'birth_year',
       'ncid', 'vtd_abbrv', 'vtd_desc\r'],
      dtype='object')

In [33]:
# Create subset dataframe that adheres to Heroku's 10,000 row max
voter_reg = voter_reg_large.iloc[:10000]
voter_reg

,county_id,county_desc,voter_reg_num,status_cd,voter_status_desc,reason_cd,voter_status_reason_desc,last_name,first_name,middle_name,...,sewer_dist_abbrv,sanit_dist_abbrv,rescue_dist_abbrv,munic_dist_abbrv,dist_1_abbrv,confidential_ind,birth_year,ncid,vtd_abbrv,vtd_desc\r
0,11,BUNCOMBE,378389,A,ACTIVE,AV,VERIFIED,A-AKERT,DIANE,FAE,...,NaN,NaN,NaN,NaN,40,N,1956,AL270949,52.1,52.1\r
1,11,BUNCOMBE,381829,A,ACTIVE,AV,VERIFIED,A-AKERT,WALTER,DEAN,...,NaN,NaN,NaN,NaN,40,N,1952,AL273503,52.1,52.1\r
2,11,BUNCOMBE,425478,A,ACTIVE,AV,VERIFIED,AAB,KERRI,NaN,...,NaN,NaN,NaN,NaN,40,N,1974,CW939539,68.1,68.1\r
3,11,BUNCOMBE,425477,A,ACTIVE,AV,VERIFIED,AAB,RICHARD,EDWARD,...,NaN,NaN,NaN,NaN,40,N,1981,CW988432,68.1,68.1\r
4,11,BUNCOMBE,429468,A,ACTIVE,AV,VERIFIED,AABYE,MEREDITH,MICHELLE,...,NaN,NaN,NaN,NaN,40,N,1981,DM19859,60.2,60.2\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,11,BUNCOMBE,436883,A,ACTIVE,AV,VERIFIED,BANKS,LINDSAY,FAITH,...,NaN,NaN,NaN,NaN,40,N,1992,AL312922,55.1,55.1\r
9996,11,BUNCOMBE,259205,A,ACTIVE,AV,VERIFIED,BANKS,LISA,MARIE,...,NaN,NaN,NaN,ASH,40,N,1969,AL169088,14.2,14.2\r
9997,11,BUNCOMBE,162899,A,ACTIVE,AV,VERIFIED,BANKS,LOIS,NELL,...,NaN,NaN,NaN,NaN,40,N,1941,AL81164,71.1,71.1\r
9998,11,BUNCOMBE,141800,R,REMOVED,RD,DECEASED,BANKS,MABLE,TILSON,...,NaN,NaN,NaN,NaN,NaN,N,1937,AL65574,NaN,\r
9999,11,BUNCOMBE,173583,A,ACTIVE,AV,VERIFIED,BANKS,MANDA,MILLS,...,NaN,NaN,NaN,NaN,40,N,1967,AL89604,62.1,62.1\r

In [31]:
# Pull out demographic information columns to create voter demographic dataframe
voter_demo = voter_reg[['res_city_desc', 'state_cd', 'zip_code', 'race_code', 'ethnic_code', 'party_cd', 'gender_code',\
                       'birth_age', 'birth_state', 'birth_year', 'drivers_lic', 'registr_dt', 'status_cd', 'voter_status_desc',\
                       'reason_cd', 'voter_status_reason_desc', 'ncid']]
voter_demo

,res_city_desc,state_cd,zip_code,race_code,ethnic_code,party_cd,gender_code,birth_age,birth_state,birth_year,drivers_lic,registr_dt,status_cd,voter_status_desc,reason_cd,voter_status_reason_desc,ncid
0,LEICESTER,NC,28748,W,UN,DEM,F,64,IN,1956,N,09/18/2012,A,ACTIVE,AV,VERIFIED,AL270949
1,LEICESTER,NC,28748,W,UN,DEM,M,68,WI,1952,Y,10/11/2012,A,ACTIVE,AV,VERIFIED,AL273503
2,ASHEVILLE,NC,28806,W,NL,UNA,F,46,NY,1974,Y,03/16/2016,A,ACTIVE,AV,VERIFIED,CW939539
3,ASHEVILLE,NC,28806,W,NL,UNA,M,39,NY,1981,Y,03/16/2016,A,ACTIVE,AV,VERIFIED,CW988432
4,ASHEVILLE,NC,28803,W,NL,UNA,F,39,IL,1981,Y,06/24/2016,A,ACTIVE,AV,VERIFIED,DM19859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,ARDEN,NC,28704,W,NL,UNA,F,28,NaN,1992,Y,09/28/2016,A,ACTIVE,AV,VERIFIED,AL312922
9996,ASHEVILLE,NC,28806,W,NL,REP,F,51,NC,1969,Y,02/04/2004,A,ACTIVE,AV,VERIFIED,AL169088
9997,WEAVERVILLE,NC,28787,W,NL,DEM,F,79,NaN,1941,Y,10/02/1992,A,ACTIVE,AV,VERIFIED,AL81164
9998,NaN,NaN,NaN,W,NL,REP,F,83,NaN,1937,N,09/22/1990,R,REMOVED,RD,DECEASED,AL65574
9999,ASHEVILLE,NC,28805,W,NL,DEM,F,53,NaN,1967,N,10/07/1994,A,ACTIVE,AV,VERIFIED,AL89604

In [32]:
# Pull out jurisdiction and county information columns to create voter dist dataframe
voter_dist = voter_reg[['county_id', 'county_desc', 'precinct_abbrv', 'precinct_desc', 'municipality_abbrv',\
                                'ward_abbrv', 'cong_dist_abbrv', 'super_court_abbrv', 'judic_dist_abbrv', 'nc_senate_abbrv',\
                                'nc_house_abbrv', 'county_commiss_abbrv', 'township_abbrv', 'school_dist_abbrv',\
                                'fire_dist_abbrv', 'water_dist_abbrv', 'sewer_dist_abbrv', 'sanit_dist_abbrv',\
                                'rescue_dist_abbrv', 'munic_dist_abbrv', 'dist_1_abbrv', 'ncid',\
                                'vtd_abbrv', 'vtd_desc\r']]
voter_dist

,county_id,county_desc,precinct_abbrv,precinct_desc,municipality_abbrv,ward_abbrv,cong_dist_abbrv,super_court_abbrv,judic_dist_abbrv,nc_senate_abbrv,...,fire_dist_abbrv,water_dist_abbrv,sewer_dist_abbrv,sanit_dist_abbrv,rescue_dist_abbrv,munic_dist_abbrv,dist_1_abbrv,ncid,vtd_abbrv,vtd_desc\r
0,11,BUNCOMBE,52.1,52.1,NaN,NaN,11,28,28,49,...,NaN,NaN,NaN,NaN,NaN,NaN,40,AL270949,52.1,52.1\r
1,11,BUNCOMBE,52.1,52.1,NaN,NaN,11,28,28,49,...,NaN,NaN,NaN,NaN,NaN,NaN,40,AL273503,52.1,52.1\r
2,11,BUNCOMBE,68.1,68.1,NaN,NaN,11,28,28,49,...,NaN,NaN,NaN,NaN,NaN,NaN,40,CW939539,68.1,68.1\r
3,11,BUNCOMBE,68.1,68.1,NaN,NaN,11,28,28,49,...,NaN,NaN,NaN,NaN,NaN,NaN,40,CW988432,68.1,68.1\r
4,11,BUNCOMBE,60.2,60.2,NaN,NaN,11,28,28,49,...,NaN,NaN,NaN,NaN,NaN,NaN,40,DM19859,60.2,60.2\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,11,BUNCOMBE,55.1,55.1,NaN,NaN,11,28,28,49,...,NaN,NaN,NaN,NaN,NaN,NaN,40,AL312922,55.1,55.1\r
9996,11,BUNCOMBE,14.2,14.2,ASH,NaN,11,28,28,49,...,NaN,NaN,NaN,NaN,NaN,ASH,40,AL169088,14.2,14.2\r
9997,11,BUNCOMBE,71.1,71.1,NaN,NaN,11,28,28,49,...,NaN,NaN,NaN,NaN,NaN,NaN,40,AL81164,71.1,71.1\r
9998,11,BUNCOMBE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AL65574,NaN,\r
9999,11,BUNCOMBE,62.1,62.1,NaN,NaN,11,28,28,49,...,NaN,NaN,NaN,NaN,NaN,NaN,40,AL89604,62.1,62.1\r

In [45]:
voter_identifiers = voter_reg[['last_name', 'first_name', 'middle_name', 'name_suffix_lbl', 'res_street_address', 'mail_addr1', 'mail_addr2', 'mail_addr3', 'mail_addr4', 'mail_city', 'mail_state', 'mail_zipcode', 'full_phone_number']]
voter_identifiers

,last_name,first_name,middle_name,name_suffix_lbl,res_street_address,mail_addr1,mail_addr2,mail_addr3,mail_addr4,mail_city,mail_state,mail_zipcode,full_phone_number
0,A-AKERT,DIANE,FAE,NaN,5 CARTER HILL DR,5 CARTER HILL DR,NaN,NaN,NaN,LEICESTER,NC,28748,8.28515e+09
1,A-AKERT,WALTER,DEAN,NaN,5 CARTER HILL DR,5 CARTER HILL DR,NaN,NaN,NaN,LEICESTER,NC,28748,8.28515e+09
2,AAB,KERRI,NaN,NaN,67 MAGNOLIA FARMS DR,67 MAGNOLIA FARMS DR,NaN,NaN,NaN,ASHEVILLE,NC,28806,8.28747e+09
3,AAB,RICHARD,EDWARD,NaN,67 MAGNOLIA FARMS DR,67 MAGNOLIA FARMS DR,NaN,NaN,NaN,ASHEVILLE,NC,28806,8.2826e+09
4,AABYE,MEREDITH,MICHELLE,NaN,134 HEMPHILL RD,134 HEMPHILL RD,NaN,NaN,NaN,ASHEVILLE,NC,28803,8.2833e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,BANKS,LINDSAY,FAITH,NaN,19 HYDE PARK PL,19 HYDE PARK PL,NaN,NaN,NaN,ARDEN,NC,28704,8.28712e+09
9996,BANKS,LISA,MARIE,NaN,272 RICHMOND HILL DR,272 RICHMOND HILL DR,NaN,NaN,NaN,ASHEVILLE,NC,28806,8.28707e+09
9997,BANKS,LOIS,NELL,NaN,75 HERRON COVE RD,75 HERRON COVE RD,NaN,NaN,NaN,WEAVERVILLE,NC,28787,8.28646e+09
9998,BANKS,MABLE,TILSON,,REMOVED,,,,,,,,NaN
9999,BANKS,MANDA,MILLS,NaN,37 REED RD,37 REED RD,NaN,NaN,NaN,ASHEVILLE,NC,28805,8.28298e+09

In [36]:
# Read in county codes csv to create dataframe
county_codes = pd.read_csv("county_codes.csv")
county_codes

                  county  county_id
0   ALAMANCE                      1
1   ALEXANDER                     2
2   ALLEGHANY                     3
3   ANSON                         4
4   ASHE                          5
..                   ...        ...
95    WAYNE                      96
96   WILKES                      97
97   WILSON                      98
98    YADKIN                     99
99   YANCEY                       0

[100 rows x 2 columns]

In [37]:
# Create ethnic codes dataframe from information provided on the NC Board of Elections website
ethnic_codes = pd.DataFrame(data={'ethnicity': ['HL', 'NL', 'UN'], 'description': ['Hispanic or Latino', 'Not Hispanic or Not Latino', 'Undesignated']})
ethnic_codes

  ethnicity                 description
0        HL          Hispanic or Latino
1        NL  Not Hispanic or Not Latino
2        UN                Undesignated

In [38]:
# Create race codes dataframe from information provided on the NC Board of Elections website
race_codes = pd.DataFrame(data={'race': ['A', 'B', 'I', 'M', 'O', 'P', 'U', 'W'], 
                                 'description': ['Asian', 'Black or African American', 'American Indian or Alaska Native',
                                                'Two or more races', 'Other', 'Native Hawaiian or Pacific Islander',
                                                'Undesignated', 'White']})
race_codes

  race                          description
0    A                                Asian
1    B            Black or African American
2    I     American Indian or Alaska Native
3    M                    Two or more races
4    O                                Other
5    P  Native Hawaiian or Pacific Islander
6    U                         Undesignated
7    W                                White

In [39]:
# Create status codes dataframe from information provided on the NC Board of Elections website
status_codes = pd.DataFrame(data={'status': ['A', 'D', 'I', 'R', 'S'], 
                                  'description': ['Active', 'Denied', 'Inactive', 'Removed', 'Temporary (applicable to military and overseas)']})
status_codes

  status                                      description
0      A                                           Active
1      D                                           Denied
2      I                                         Inactive
3      R                                          Removed
4      S  Temporary (applicable to military and overseas)

In [41]:
# Create connection engine to our postgres database. The username and password were auto generated by Heroku when we connected Heroku to pgAdmin
engine = create_engine('postgresql://xckjshjjtmgwbv:c5d3e127371c124f2fc81569bc09ed630ef0fe381737a0978914b413fb8abca6@ec2-35-171-109-11.compute-1.amazonaws.com:5432/d7lk6irahs1833')

In [ ]:
# Read status_codes dataframe into pgadmin
status_codes.to_sql('status_codes', con=engine, index=False)

In [16]:
# Fetch table contents to confirm the dataframe was successful inserted 
engine.execute("SELECT * FROM status_codes").fetchall()

[('A', 'Active'),
 ('D', 'Denied'),
 ('I', 'Inactive'),
 ('R', 'Removed'),
 ('S', 'Temporary (applicable to military and overseas)')]

In [17]:
# Read race_codes dataframe into pgadmin
race_codes.to_sql('race_codes', con=engine, index=False)

In [18]:
# Read county_codes dataframe into pgadmin
county_codes.to_sql('county_codes', con=engine, index=False)

In [42]:
# Read voter_dist dataframe into pgadmin
voter_dist.to_sql('voter_dist', con=engine, index=False, method='multi', if_exists='replace', chunksize=1000)

In [43]:
# Read voter_demo dataframe into pgadmin
voter_demo.to_sql('voter_demo', con=engine, index=False, method='multi', if_exists='replace', chunksize=1000)

In [44]:
# Read voter_hist dataframe into pgadmin
voter_hist.to_sql('voter_hist', con=engine, index=False, method='multi', if_exists='replace', chunksize=1000)

In [46]:
# Read voter_identifiers dataframe into pgadmin
voter_identifiers.to_sql('voter_identifiers', con=engine, index=False, method='multi', if_exists='replace', chunksize=1000)

*** I did not insert the ethnic codes dataframe through pandas because I created it directly in pgAdmin in order to confirm the Heroku connection.